* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.clearfix::before,
.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

/* input[type=number] {
    -moz-appearance:textfield;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
} */

:root {
  --elegrance-black: rgb(216, 216, 216);
  --black: #1d1d1d;
  --white: rgb(243, 243, 243);
  --blue: rgb(25, 137, 250);
  --themeBgc: #131124;
  --footbarBgc: #302f4b;
  --footplaybarBgc: #1f2040;
  --commonPageBgc: #0e0b20;
}

textarea,
select,
input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
}
input::-webkit-input-placeholder,
input:-moz-placeholder,
input::-moz-placeholder,
input:-ms-input-placeholder {
  opacity: 0.5;
}
button {
  outline: none;
  border: none;
}
label {
  display: inline-block;
}

html {
  font-size: 100px;
}
body {
  font-size: 15px;
  background-color: var(--black);
}

.textover-eclipse {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
@for $i from 2 through 6 {
  .textover-eclipsis-#{$i} {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $i;
    overflow: hidden;
  }
}
