//进度条样式
@progress-pivot-padding: 0 ;
@progress-pivot-font-size: 7px;

// tabs
@tabs-nav-background-color：unset;

@popup-close-icon-margin:20px;
@popup-close-icon-z-index:40;

@popup-background-color:transparent;